body {
  margin: 25px;
  background-color: rgb(86, 72, 52);
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
h1 {
  justify-content: left;
  margin-top: 50px;
  padding-top: 5px;
  margin-bottom: 100px;
  color: beige;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120px;
}
p {
  display: flex;
  color: rgb(250, 43, 20);
  font-size: 40px;
  margin-bottom: 20px;

  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  gap: 30px;
  text-align: center;
  flex-wrap: wrap;

  margin-top: 5px;
}
.card {
  max-width: 1300px;
  margin-bottom: 25px;
}

.nav {
  display: flex;

  justify-content: right;

  padding-left: 0;
  list-style-type: none;
  gap: 15px;
  text-align: center;
}

.nav-link {
  margin-top: 0px;
  font-size: 25px;
  color: beige;
  margin: 10px;
}
ul {
  list-style-type: none;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 1px;
  font-size: 25px;
}
footer {
  color: beige;
  left: 0;
  bottom: 0;
}
